[Unit]
Description=Pyrogram userbot against YouTube Shorts
After=network.target

[Service]
Type=simple

User=shorts_userbot
Group=pyrogram

ExecStart=/usr/bin/shorts-userbot --workdir /var/pyrogram/
KillSignal=SIGINT

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
